body{
    background-color: #b40000;
    font-family: cursive
}
h1{
    color: aqua;
    font-family: fantasy;
    text-align: center;
    font-size: 72pt;
}
a:link {
    color: #22c991;
}
a:visited {
    color: darkslateblue;
}
a:hover {
    color: dimgray;
}
a {
    text-decoration: none;
    font-size: 30pt;
}